<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	  <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	  <meta name="description" content="重庆远华仪表">

	  <link rel="shortcut icon" href="images/logo.png" />
    <link rel="stylesheet" type="text/css" href="stylesheets/libs/normalize.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/about.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/base.css" />
  </head>

  <body>
  <div class="container">

    <header>
      <h2>
        <div>Instrument</div><div>Supply</div><div><img src="images/logo2.png" /></div><div>重庆远华仪表有限公司</div>
      </h2>
    </header>

    <nav>
      <a class="nav-trigger">
        <span class="nav-icon"></span>
      </a>  
      <ul>
        <li class="nav-item"><a class="nav-link" href="/index">首页</a>
        </li><li><a class="nav-link" href="/about">关于我们</a>
        </li><li><a class="nav-link" href="/instrument">产品展示</a>
        </li><li><a class="nav-link" href="/news">新闻动态</a>
        </li><li class="sub-menu"><a class="nav-link" href="/contact">联系我们</a><ul><li><a href="/message">留言板</a></li></ul>
        </li><li><a class="nav-link" href="/download">下载中心</a></li>
      </ul> 
    </nav>

    <div class="banner"><img src="images/banner4.jpg" /></div>

      <div class="idea">
        <div>专业理念</div>
        <div>PROFESSIONAL</div>
        <div>“我们不盲目提供产品，而是以我们多年的专业知识，协助用户选择理想而实用的产品，因为我们提供的不仅仅是产品，还有服务。”</div>
        <div>WE DON'T BLINDLY PROVIDE PRODUCTS, BUT TO OUR MANY YEARS OF PROFESSIONAL KNOWLEDGE, TO HELP USERS CHOOSE THE IDEAL AND PRACTICAL PRODUCTS, BECAUSE WE PROVIDE NOT ONLY PRODUCTS, BUT ALSO SERVICES.</div>
        <div class="idea2">
          <img src="images/about1.png" />
          <img src="images/about2.png" />
        </div>
        <div class="article"><img src="images/about3.png" /></div>
          <article>
            <div><p>重庆远华仪表有限公司是一家致力于自动化控制系统中压力、温度、流量、物位等仪器仪表的专业销售公司，本公司是德国久茂自动化（大连）有限公司、常州双环热工仪表有限公司、厦门安东电子有限公司、美国阿美特克（AMETEK）公司在重庆的代理商。作为重庆市仪器仪表专业销售公司，公司也常年经销全国各地厂家的仪器仪表等产品。</p></div>
            <div><p>作为以上几家公司的代理商和仪器仪表专业销售公司，公司以诚信为本、与时俱进，用热忱认真的工作态度来体现作为代理商为本地区广大客户在引进和提供先进的、高性价比的产品的同时，为客户提供全方位的、快捷的售前技术支持和售后服务。</p></div> 
            <div><p>经过公司全体员工的长期努力，特别是以技术促销售和良好的售后服务系统，为我们赢得了广大客户的信任和肯定，在汽车行业（如长安汽车集团有限公司）、机械行业（如綦江齿轮传动有限公司）、电力行业（如重庆发电厂）、化工系统（如长寿化工有限责任公司）、石化系统（如四川维尼纶厂）等行业建立了良好的合作关系。</p></div>
            <div><p>我们由衷的希望以我们多年的专业技术为客户提供及推荐有效而可靠的测量、控制方法，并通过我们的工作，使客户取得属于他们自己的成功，也是对我们工作的肯定。</p></div>
           </article>
          <div class="footer"><img src="images/about4.png" /></div>
      </div>

    <footer>
          <div>©重庆远华仪表有限公司 2017 版权所有</div>
          <div>渝ICP备12000301号</div>
          <div><a href="https://fr4nkwong.github.io" target="_blank">Frank</a>搭建|<a href="/login">管理登录</a></div>
    </footer>

  </div>
  </body>
  
  <script type="text/javascript" src="javascripts/libs/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
</html>
